<head>
  <title>simple</title>
</head>

<body>
  <h1>UrbanGem Protoype Page</h1>
  {{> data}}
</body>

<template name="data">
  <form>
    <input type="text" id="latitude" placeholder="Enter latitude" />
    <input type="text" id="longitude" placeholder="Enter longitude" />
    <input type="text" id="description" placeholder="Enter short description" />
    <button type="submit">Submit</button>
  </form>
</template>